<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/mobile-web-icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'styleAdmin.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
</head>

<body>

    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <a href="{% url 'admin_dashboard' %}"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <span class="logo_name">Admin Panel</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="{% url 'admin_dashboard' %}"
                        class="{% if request.path == '/admin/dashboard/' %}active{% endif %}">
                        <i class="fa-light fa-house"></i>
                        <span class="link-name">Dahsboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-light fa-boxes-stacked"></i>
                        <span class="link-name">Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_order' %}" class="{% if request.path == '/admin/order/' %}active{% endif %}">
                        <i class="fa-light fa-cart-shopping"></i>
                        <span class="link-name">Đơn Hàng</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-light fa-user"></i>
                        <span class="link-name">Khách Hàng</span>
                    </a>
                </li>

            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="{% url 'admin_logout' %}" id="logout-link">
                        <i class="fa-light fa-arrow-right-from-bracket"></i>
                        <span class="link-name" onclick="">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="fa-light fa-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="fa-light fa-bars sidebar-toggle"></i>

            <div class="admin-profile">
                <div class="icons">
                    <i class="fa-light fa-envelope"></i>
                    <i class="fa-light fa-bell"></i>
                </div>
                <img src="https://raw.githubusercontent.com/anhvu13/fashion.github.io/main/profiles.svg" alt="">
                <div class="d-flex justify-content-center align-items-center">
                    <p class="m-0 fs-4 text-danger" style="color: var(--black-light-color);">{{ request.user.username }}
                    </p>
                </div>
            </div>
        </div>

        <div id="dashboard" class="dash-content">
            <br>
            {% block content %}
            {% endblock %}
        </div>




    </section>

    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'admin.min.js' %}"></script>
</body>

</html>