{% extends "layouts/userLayout.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} Shop - Giỏ hàng của bạn {% endblock %}

{% block content %}

{% if not has_items %}
<div class="container cart-empty" style="margin-top: 20rem;">
  <h1 class="text-center" style="font-size: 6rem;">Quý khách chưa có gì trong giỏ hảng </h1>



  <section class="products" id="products">
    <h1 class="heading"> Các <span>Sản phẩm </span>bán chạy</h1>
    <div class="container" id="product-list" style="display: flex;">
      {% for acc in accessories %}
      <div class="col-md-auto box">
        <div class="icons">
          <a href="/cart/add/{{acc.id}}/" class="fas fa-shopping-cart "></a>

          <a href="#" class="fas fa-heart"></a>
          <a href="product_detail/{{acc.id}}" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <img src="/{{acc.Image}}">
        </div>
        <div class="content">
          <h3 class="title-name text-truncate">
            <a href="product_detail/{{ acc.id }}" data-bs-toggle="tooltip" title="{{ acc.Name }}">{{acc.Name}}
            </a>
          </h3>
          <div class="box-price">
            <div class="price">{{ acc.Price|format_discounted_price:acc.Discount }}</div>
            <div class="cut">{{ acc.Price|format_currency }}</div>
            <div class="offer">{{ acc.Discount }}% off</div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </section>

</div>
{% endif %}













{% if has_items %}

<section class=" p-5 gradient-custom  mb-5 "
  style="border-radius: .5rem .5rem 0 0; width: 80%; margin: 0 auto; margin-top: 15rem;">
  <style>
    .gradient-custom {
      /* fallback for old browsers */
      background: #ff007b;

      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgb(212, 41, 81), rgb(186, 12, 12));

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgb(212, 41, 81), rgb(186, 12, 12))
    }
  </style>
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Giỏ hàng của bạng có <span>({{total_num}})</span> sản phẩm</h5>
        </div>
        <div class="card-body">
          <!-- Single item -->
          {% for item in cart_items%}
          <div class="row">
            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
              <!-- Image -->
              <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                <img src="/{{item.AccessoryID.Image}}" class="w-100">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                </a>
              </div>
              <!-- Image -->
            </div>

            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
              <!-- Data -->
              <p>Tên sản phẩm: <strong>{{item.AccessoryID.Name}}</strong></p>
              <p>Loại sản phẩm: <strong>{{item.AccessoryID.CategoryID.ParentCategoryID.ParentCategoryName}}</strong></p>
              <p>Dòng sản phẩm: <strong>{{item.AccessoryID.CategoryID.CategoryName}}</strong></p>
              <p>Đơn giá: <strong>{{item.AccessoryID.Price |format_currency }}</strong></p>
              <p>Discount: <strong class="text-danger">{{item.AccessoryID.Discount}} % off</strong></p>
              <a href="/cart/remove/{{item.AccessoryID.id}}/" data-mdb-button-init="" data-mdb-ripple-init=""
                class="btn btn-danger btn-sm me-1 mb-2" data-mdb-tooltip-init="" data-mdb-button-initialized="true"
                aria-label="Remove item" data-mdb-original-title="Remove item" data-mdb-tooltip-initialized="true">
                <i class="fas fa-trash"></i>
              </a>
              <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-danger btn-sm mb-2"
                data-mdb-tooltip-init="" data-mdb-button-initialized="true" aria-label="Move to the wish list"
                data-mdb-original-title="Move to the wish list" data-mdb-tooltip-initialized="true"
                aria-describedby="tooltip501587">
                <i class="fas fa-heart"></i>
              </button>
              <!-- Data -->
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <!-- Quantity -->
              <div class="d-flex mb-4" style="max-width: 300px">

                <a href="/cart/decrease/{{item.AccessoryID.id}}/" data-mdb-button-init="" data-mdb-ripple-init=""
                  class="btn btn-danger px-3 me-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                  data-mdb-button-initialized="true">
                  <i class="fas fa-minus"></i>
                </a>

                <div data-mdb-input-init="" class="form-outline" data-mdb-input-initialized="true">
                  <input id="form1" min="0" name="quantity" value="{{item.Quantity}}" type="number"
                    class="form-control active">
                  <label class="form-label" for="form1" style="margin-left: 0px;">Số lượng</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 29.6px;"></div>
                    <div class="form-notch-trailing"></div>
                  </div>
                </div>


                <a href="/cart/increase/{{item.AccessoryID.id}}/" data-mdb-button-init="" data-mdb-ripple-init=""
                  class="btn btn-danger px-3 ms-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  data-mdb-button-initialized="true">
                  <i class="fas fa-plus"></i>
                </a>
              </div>
              <!-- Quantity -->

              <!-- Price -->
              <p class="text-start text-md-center cut" style="text-decoration: line-through;">
                <strong>
                  {{ item.AccessoryID.Price|format_calculate_price:item.Quantity }}</strong>
              </p>
              <!-- Price -->
              <p class="text-start text-md-center text-danger">
                <strong>{{ item.AccessoryID.Price | format_calculate_discounted_price:item }}</strong>
              </p>


            </div>
          </div>
          <!-- Single item -->

          <hr class="my-4">
          {% endfor %}

        </div>
      </div>
      <!-- <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div> -->
      <div class="card mb-4 mb-lg-0">
        <div class="card-body">
          <p><strong>Không thanh toán</strong></p>
          <img class="me-2" width="45px"
            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
            alt="Visa">
          <img class="me-2" width="45px"
            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
            alt="American Express">
          <img class="me-2" width="45px"
            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
            alt="Mastercard">
          <img class="me-2" width="45px"
            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
            alt="PayPal acceptance mark">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Hóa đơn</h5>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Tổng tiền:
              <span class=""> {{total_price |format_currency}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Giá đã giảm
              <span class="text-danger"> {{total_discount_price |format_currency}} </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Tổng phải trả: </strong>
                <strong>
                  <p class="mb-0">(Bao gồm VAT)</p>
                </strong>
              </div>
              <span><strong>{{have_to_pay|format_currency}} </strong></span>
            </li>
          </ul>






          <form action="{% url 'order' %}" method="post" class="">
            {% csrf_token %}
            <!-- <div class="form-group">
                <label for="user_id"></label>
                <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{ user.id }}">
              </div>
              <div class="form-group">
                <label for="total_amount"></label>
                <input type="hidden" class="form-control" id="total_amount" name="total_amount" value="{{ have_to_pay }}">
              </div>
              <div class="form-group">
                <label for="phone_number">Số điện thoại</label>
                <input type="phon" class="form-control" id="phone_number" name="phone_number" value="">
              </div>
              <div class="form-group">
                <label for="address">Địa Chỉ</label>
                <input type="text" class="form-control" id="address" name="address" value="">
              </div> -->

            {{ form }}
            <div class="mb-3">
              <label for="PaymentMethod" class="form-label">Phương thức thanh toán:</label>
              <div class="">
                <select id="PaymentMethod" name="PaymentMethod" class="form-select w-100">
                  <option value="COD">Thanh toán khi nhận hàng</option>
                  <option value="VNPAY">Thanh toán qua VNPAY</option>
                </select>
              </div>
            </div>
            <button type="submit" data-mdb-button-init="" data-mdb-ripple-init=""
              class="btn btn-danger btn-lg btn-block" data-mdb-button-initialized="true">
              Đặt hàng
            </button>

          </form>


        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}