{% extends "layouts/userLayout.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
Liên hệ với chúng tôi
{% endblock %}

{% block content %}
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9 fs-3">
                <div class="">
                    <h1 class="title">Chính sách bảo mật</h1>
                    <div class="">
                        <p><strong>a. Mục đích và phạm vi thu thập</strong></p>
                        <p>Accessories Shop&nbsp;tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin thanh
                            toán của
                            bạn. "Chính sách bảo mật" dưới đây là những cam kết mà chúng tôi thực hiện, nhằm tôn trọng
                            và bảo vệ quyền lợi của người truy cập.</p>
                        <p>Việc thu thập dữ liệu chủ yếu trên website www.accessories.vn hoặc ứng dụng di động
                            Accessories Shop&nbsp;bao
                            gồm: tên, email, điện thoại, địa chỉ khách hàng,…. Đây là các thông tin mà Accessories
                            Shop&nbsp;cần
                            khách hàng cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và để Accessories Shop&nbsp;liên hệ
                            xác nhận
                            khi khách hàng có nhu cầu cần sự hỗ trợ cũng như tư vấn trên ứng dụng&nbsp;nhằm đảm bảo
                            quyền lợi cho người tiêu dùng như hỗ trợ đổi trả/ bảo hành cũng như thông tin đến khách hàng
                            các ưu đãi.</p>
                        <p>Trong quá trình giao dịch thanh toán tại website www.accessories.vn hoặc ứng dụng di động
                            Accessories Shop,&nbsp;chúng tôi chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán
                            của khách hàng
                            cũng như các trao đổi giữa khách hàng và Accessories Shop, các thông tin về số tài khoản
                            ngân hàng của
                            khách hàng sẽ không được lưu giữ.</p>
                        <p>Khách hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ tại hộp
                            thư điện tử của mình. Ngoài ra, khách hàng có trách nhiệm thông báo kịp thời cho
                            Accessories Shop&nbsp;về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ
                            thông tin
                            liên hệ cho bên thứ ba để có biện pháp giải quyết phù hợp.&nbsp;</p>
                        <p>Nếu khách hàng có nhu cầu muốn thay đổi thông tin cung cấp trước đó thì có 2 cách: Gặp trực
                            tiếp nhân viên bán hàng tại cửa hàng hoặc gọi điện thoại đến hotline CSKH của công ty: 1800
                            1160. Cung cấp thông tin cũ để chỉnh sửa và thông tin mới để được cập nhật trên hệ thống
                            thông tin.</p>
                        <p><strong>b.Phạm vi sử dụng thông tin</strong></p>
                        <p>Công ty sử dụng thông tin người dùng cung cấp để:</p>
                        <ul>
                            <li>Cung cấp các dịch vụ đến người mua;</li>
                            <li>Giao hàng theo địa chỉ mà người mua cung cấp</li>
                            <li>Gửi email tiếp thị, khuyến mại về hàng hóa do chúng tôi bán;</li>
                            <li>Gửi các thông báo mới về mẫu mã sản phẩm cũng như các hoạt động mới đến khách hàng của
                                ứng dụng Accessories Shop</li>
                            <li>Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt;</li>
                            <li>Không sử dụng thông tin cá nhân của khách hàng ngoài mục đích xác nhận và liên hệ có
                                liên quan đến giao dịch tại website www.accessories.vn hoặc ứng dụng di động Accessories
                                Shop</li>
                            <li>Accessories Shop dùng thông tin số điện thoại của khách hàng để tạo tài khoản thành
                                viên. Từ đó tạo
                                ra "Chương Trình Khách Hàng Thân Thiết" mang đến những ưu đãi và những quyền lợi đặc
                                biêt dành riêng cho khách hàng thân thiết của Accessories Shop.</li>
                            <li>Khi có yêu cầu của cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều
                                tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng.&nbsp;</li>
                        </ul>
                        <p><strong>c.&nbsp;Thời gian lưu trữ thông tin</strong></p>
                        <p>Dữ liệu cá nhân của người dùng sẽ được lưu trữ trong suốt quá trình hợp tác giữa Accessories
                            Shop và
                            khách hàng. Dữ liệu chỉ được hủy khi khách hàng chấm dứt hoàn toàn các hoạt động giao dịch
                            với Accessories Shop&nbsp;và có sự yêu cầu hủy lưu dữ thông tin liên hệ từ phía khách hàng.
                        </p>
                        <p>Trong trường hợp người dùng muốn xóa toàn bộ thông tin về tài khoản đề nghị người dùng liên
                            hệ với chúng tôi theo địa chỉ ở mục e</p>
                        <p><strong>d. Những người hoặc tổ chức có thể tiếp cận được thông tin cá nhân</strong></p>
                        <p>Đối tượng được tiếp cận với thông tin cá nhân của khách hàng/ Khách hàng thuộc một trong
                            những trường hợp sau:</p>
                        <ul>
                            <li><strong>CÔNG TY CỔ PHẦN SEEDCOM FASHION GROUP</strong></li>
                            <li>Các đối tác có ký hợp động thực hiện 1 phần dịch vụ do&nbsp;<strong>CÔNG TY CỔ PHẦN
                                    SEEDCOM FASHION GROUP</strong>&nbsp;cung cấp. Các đối tác này sẽ nhận được những
                                thông tin theo thỏa thuận hợp đồng (có thể 1 phần hoặc toàn bộ thông tin tùy theo điều
                                khoản hợp đồng) để tiến hành hỗ trợ người dùng sử dụng dịch vụ do Công ty cung cấp.</li>
                            <li>Cơ quan nhà nước khi có yêu cầu Công ty cung cấp thông tin người dùng để phục vụ quá
                                trình điều tra.</li>
                            <li>Người mua và người bán xảy ra tranh chấp và yêu cầu Công ty là đơn vị hòa giải.</li>
                        </ul>
                        <p><strong>e. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</strong></p>
                        <ul>
                            <li>CÔNG TY CỔ PHẦN ACCESSORIES</li>
                            <li><strong>Địa chỉ:</strong>&nbsp;E11/322A Quốc lộ 50, Tổ 11, Ấp 5, xã Đa Phước, huyện Bình
                                Chánh, Thành phố Hồ Chí Minh, Việt Nam</li>
                            <li><strong>Email:</strong><strong>&nbsp;</strong><a
                                    href="mailto:example@gmail.com">cskh@accessoriesshop.vn</a>&nbsp;<strong>-
                                    Hotline:</strong>&nbsp;08.7777.1111</li>
                        </ul>
                        <p>Nếu khách hàng tin rằng chúng tôi đã cung cấp thông tin của mình cho bên thứ ba mà không được
                            sự đồng ý của khách hàng, thì khách hàng có quyền khiếu nại đến chúng tôi theo địa chỉ ở
                            trên. Công ty chúng tôi có nghĩa vụ giải quyết các vấn đề liên quan đến việc bảo mật thông
                            tin khách hàng khi xem xét các bằng chứng người dùng cung cấp là có cơ sở.</p>
                        <p><strong>f. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của
                                mình</strong></p>
                        <p>Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình
                            bằng cách gửi thông tin cần chỉnh sửa vào email:&nbsp;<a
                                href="mailto:example@gmail.com">cskh@accessoriesshop.vn</a></p>
                        <p>Chúng tôi sẽ hỗ trợ người dùng về mặt kỹ thuật để chỉnh sửa thông tin nếu nhận được yêu cầu
                            từ phía người dùng.&nbsp;</p>
                        <p><strong>g. Cam kết bảo mật thông tin cá nhân khách hàng</strong></p>
                        <p>Thông tin cá nhân của khách hàng tại website www.accessories.vn hoặc ứng dụng di động
                            Accessories Shop&nbsp;được
                            Accessories Shop cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của
                            Accessories Shop. Việc thu
                            thập và sử dụng thông tin của mỗi khách hàng chỉ được thực hiện khi có sự đồng ý của khách
                            hàng đó trừ những trường hợp pháp luật có quy định khác.</p>
                        <p>Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân
                            của khách hàng khi không có sự cho phép đồng ý từ khách hàng.</p>
                        <p>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân
                            khách hàng, Accessories Shop sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều
                            tra xử lý
                            kịp thời và thông báo cho khách hàng được biết.</p>
                        <p>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của khách hàng bao gồm thông tin hóa đơn
                            kế toán chứng từ số hóa trên website www.accessories.vn hoặc ứng dụng di động Accessories
                            Shop.</p>
                        <p>Ban quản lý Accessories Shop yêu cầu các cá nhân khi đăng ký/mua hàng phải cung cấp đầy đủ
                            thông tin cá
                            nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, điện thoại, số tài khoản, số thẻ
                            thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý
                            Accessories Shop không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan
                            đến quyền
                            lợi của Khách hàng đó nếu xét thấy tất cả thông tin cá nhân của khách hàng đó cung cấp khi
                            đăng ký ban đầu là không chính xác.</p>
                        <p><strong>h. Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin cá nhân
                                khách hàng</strong></p>
                        <p>Khách hàng có quyền gửi khiếu nại về việc lộ thông tin các nhân cho bên thứ 3 đến Ban quản
                            trị của Sàn giao dịch thương mại điện tử Accessories Shop đến địa chỉ Công ty hoặc qua
                            Email:&nbsp;<a href="mailto:example@gmail.com">cskh@accessoriesshop.vn</a></p>
                        <p>Công ty có trách nhiệm thực hiện các biện pháp kỹ thuật, nghiệp vụ để xác minh các nội dung
                            được phản ánh.</p>
                        <p>Thời gian xử lý phản ánh liên quan đến thông tin cá nhân khách hàng là 15 ngày.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="contact" id="contact">
    <h1 class="heading"><span>Liên hệ</span> với chúng tôi</h1>
    <div class="container">
        <div class="col-md">
            <div class="icons">
                <i class="fas fa-map-marker-alt"></i>
                <h3>address</h3>
                <p>17 Lê Duẩn, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh</p>
            </div>
        </div>
        <div class="col-md">
            <div class="icons">
                <i class="fas fa-envelope"></i>
                <h3>email</h3>
                <p>contactUs@gmail.com</p>
                <p>fashionShop@gmail.com</p>
            </div>
        </div>
        <div class="col-md">
            <div class="icons">
                <i class="fas fa-phone"></i>
                <h3>phone</h3>
                <p>+123-456-7890</p>
                <p>+111-222-3333</p>
            </div>
        </div>
    </div>
    <div class="container contact-form">
        <div class="col-md">
            <form id="feedbackForm">
                <h3>Phản Hồi</h3>
                <div class="row">
                    <div class="col">
                        <input id="phoneNumber" type="text" placeholder="Số điện thoại của bạn">
                    </div>
                    <div class="col">
                        <input id="issue" type="text" placeholder="Vấn Đề">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea id="feedback" placeholder="Nội dung phản hồi của bạn" cols="30" rows="10"></textarea>
                        <input type="submit" value="Gửi Phản Hồi" class="btn">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501726.4604617804!2d106.41502662042029!3d10.754666392389565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2sHo%20Chi%20Minh%20City%2C%20Vietnam!5e0!3m2!1sen!2sin!4v1678547723395!5m2!1sen!2sin"
                width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
{% endblock %}