{% extends "layouts/userLayout.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
Danh sách phụ kiện thuộc loại: {{ category.CategoryName }}
{% endblock %}

{% block content %}
<section class="products" id="products">
    <h1 class="heading mt-5"><span>Danh sách phụ kiện: </span>
        {{ category.CategoryName }}
    </h1>
    <div class="d-flex justify-content-center">
        <form method="get" action="{% url 'product_by_category' category.id %}" class="mb-3 row g-3">
            <input type="hidden" name="name" value="{{ query }}">
            <div class="col-md-3 fs-4">
                <label for="start_price" class="form-label">Giá bắt đầu:</label>
                <input type="number" id="start_price" name="start_price" class="form-control" value="{{ start_price }}">
            </div>
            <div class="col-md-3 fs-4">
                <label for="end_price" class="form-label">Giá kết thúc:</label>
                <input type="number" id="end_price" name="end_price" class="form-control" value="{{ end_price }}">
            </div>
            <div class="col-md-2 align-self-end">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>
    <div class="container" id="product-list" style="display: flex;">
        {% for acc in accessories %}
        <div class="col-md-auto box">
            <div class="icons">
                <a href="/cart/add/{{acc.id}}/" class="fas fa-shopping-cart "></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'productDetail' acc.id %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="{{acc.Image.url}}" title="{{acc.Image.url}}">
            </div>
            <div class="content">
                <h3 class="title-name text-truncate">
                    <a href="{% url 'productDetail' acc.id %}" data-bs-toggle="tooltip" title="{{ acc.Name }}">
                        {{ acc.Name }}
                    </a>
                </h3>
                <div class="box-price">
                    <div class="price">{{ acc.Price|format_discounted_price:acc.Discount }}</div>
                    <div class="cut">{{ acc.Price|format_currency }}</div>
                    <div class="offer">{{ acc.Discount }}% off</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination justify-content-center fs-1">
        <span class="step-links">
            {% if accessories.has_previous %}
            <a href="?name={{ query }}&start_price={{ start_price }}&end_price={{ end_price }}&page=1">&laquo; first</a>
            <a
                href="?name={{ query }}&start_price={{ start_price }}&end_price={{ end_price }}&page={{ accessories.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ accessories.number }} of {{ accessories.paginator.num_pages }}.
            </span>

            {% if accessories.has_next %}
            <a
                href="?name={{ query }}&start_price={{ start_price }}&end_price={{ end_price }}&page={{ accessories.next_page_number }}">next</a>
            <a
                href="?name={{ query }}&start_price={{ start_price }}&end_price={{ end_price }}&page={{ accessories.paginator.num_pages }}">last
                &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}