
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <header>Signup</header>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button" value="Signup">
            </form>
            <div class="signup">
                <span class="signup">
                    Already have an account?
                    <a href="login">Login</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>