{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/mobile-web-icon.png' %}" type="image/x-icon">

    <link href="{% static 'sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link href="{% static 'product_details.css' %}" rel="stylesheet" />

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
</head>

<body>
    <header class="header">
        <a href="/home" class="logo"> <i class="fas fa-shopping-cart"></i> shop </a>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li>
                    <a href="javascript:void(0)">sản phẩm</a>
                    {% include 'includes/_navbar.html' %}
                </li>
                <li><a href="{% url 'contact' %}">liên hệ</a></li>
                <li><a href="{% url 'policy' %}">Chính sách</a></li>
            </ul>
        </nav>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="user-btn" class="fas fa-user">
            </div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="shopping-cart-btn" class="fas fa-shopping-cart">
                <span id="num-of-product-cart">0</span>
            </div>
            <div id="heart-btn" class="fas fa-heart">
                <span id="num-of-product-heart">0</span>
            </div>
        </div>

        <form action="{% url 'search_accessories' %}" class="search-form" method="get">
            <input type="search" name="name" placeholder="search here..." id="search-box">
            <button type="submit" class="h-100" style="width: 50px;">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <div class="user-box" id="user-box" style="display: none;">
            {% if user.is_authenticated %}
            <div class="user-details">
                <div class="image-user">
                    <img src="{% static 'images/app/avatarUser.jpg' %}" alt="Avatar" class="avatar">
                </div>
                <div class="user-infor">
                    <h2 class="user-name text-danger">{{ user.username }}</h2>
                    <p class="user-email">{{ user.email|obfuscate_email }}</p>
                    <p class="user-rank">Tham gia:{{ user.date_joined|date:"d/m/Y" }}</p>
                </div>
            </div>
            <div class="logout-box">
                <a class="logout-button" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Đăng xuất</span>
                </a>
            </div>
            {% else %}
            <div class="logout-box">
                <a class="logout-button" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Đăng Nhập</span>
                </a>
                <a class="logout-button" href="{% url 'register' %}">
                    <i class="fa-sharp fa-thin fa-address-card"></i>
                    <span>Đăng ký</span>
                </a>
            </div>
            {% endif %}
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <section class="footer">
        <div class="container">
            <div class="col-md box">
                <h3>Giới thiệu</h3>
                <p>Chào mừng bạn đến với trang web thời trang của chúng tôi! Chúng tôi là một nhóm các chuyên gia thời
                    trang và kinh doanh trực tuyến, cung cấp cho bạn những sản phẩm thời trang chất lượng cao với giá cả
                    hợp lý.</p>
            </div>


            <div class="col-md box">
                <h3>category</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Nam </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Nữ </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Phụ Kiện </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Bán chạy nhất </a>
            </div>


            <div class="col-md box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> trang chủ </a>
                <a href="#products"> <i class="fas fa-arrow-right"></i> sản phẩm </a>
                <a href="#featured"> <i class="fas fa-arrow-right"></i> nổi bật </a>
                <a href="#review"> <i class="fas fa-arrow-right"></i> đánh giá </a>
                <a href="#blogs"> <i class="fas fa-arrow-right"></i> liên hệ </a>
            </div>


            <div class="col-md box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> đơn hàng </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> tài khoản </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> danh sách </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> mua ngay </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> ưu đãi mới </a>
            </div>

        </div>

        <div class="share">
            <a href="https://www.facebook.com/Van.Anh.130203/" class="fab fa-facebook-f"></a>
            <a href="https://github.com/anhvu13" class="fab fa-twitter"></a>
            <a href="https://www.pinterest.com/vuvananh010203/" class="fab fa-pinterest"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="https://www.instagram.com/vananhvu1302/" class="fab fa-instagram"></a>
        </div>

        <div class="credit">
            © copyright @ 2023 by <span>Vũ Văn Anh</span>
        </div>
    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>